/* Reset default browser styles */
html, body {
  background-color: #d3f6fb;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    text-align: center; /* Center the content */
  }
  .logo {
    position: absolute; 
    top: 10px;
    left: 10px;
    width: 150px; 
    height: 150px;
}
  h2 {
    margin-bottom: 20px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-container input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease-in-out; /* Smooth transition for border color */
  }
  
  .search-container input[type="text"]:focus {
    border-color: #007bff; /* Highlight border color on focus */
  }
  
  .results-container {
    display: flex;
    flex-wrap: wrap; /* Allows the results to wrap to the next line */
    justify-content: center; /* Center the results horizontally */
  }
  
  .result-item {
    background-color:  rgba(244, 224, 136, 0.9);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    flex: 0 0 calc(50% - 20px); /* Set the width of result items */
    max-width: calc(50% - 20px); /* Set the maximum width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
  }
  
  .result-item:hover {
    transform: translateY(-5px); /* Lift up on hover */
  }
  
  .result-item h3 {
    margin-top: 0;
    color: #030303;
  }
  
  .result-item p {
    margin: 10px 0;
    color: #000000;
  }
  
  .result-item a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #669ff9f2;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out; /* Smooth transition for background color */
  }
  
  .result-item a:hover {
    background-color: #0056b3; /* Darken background color on hover */
  }
  
  a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease-in-out; /* Smooth transition for text color */
  }
  
  a:hover {
    color: #0056b3; /* Darken text color on hover */
  }
  
  
  
